/*------------------------------------*\
  border / elements
\*------------------------------------*/

.border--gray {
   border: 1px solid var(--color-gray);
} 

.border-radius__5px {
  border-radius: 5px;
}

.border--bt--gray {
  border-bottom: 1px solid var(--color-gray);
}

.produit__panier__section__paypal-line::before {
  content: "";
  background-color: white;
  height: 1px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 25%;
  right: .5em;
  margin-left: -50%;
}

.produit__panier__section__paypal-line::after {
  content: "";
  background-color: white;
  height: 1px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 25%;
  left: .5em;
  margin-right: -50%;
}