/*------------------------------------*\
  icon / elements
\*------------------------------------*/

.icon__connexion {
  background-color: var(--color-primary);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
}

.icon__social {
  background: rgb(28,28,28);
  background: linear-gradient(8deg, rgba(28,28,28,1) 0%, rgba(86,86,86,1) 100%);
  border-radius: 50%;
  padding: 10px
}

.icon__social + .icon__social {
  margin-left: 20px;
}